#slider {
    background: rgb(144, 202, 110);
    width: 100%;
}


#title-slider {
    float: left;
    width: 38%;
}

#div-image {
    float: left;
    width: 30%;
    padding-top: 3%;
    padding-left: 10%;
}

#slider-explanation {
    padding-top: 3%;
    width: 30%;
    float: left;
    font-family: 'Lato-Black', sans-serif;
    font-size: 2vw;
}

#title-slider1 {
    text-align: center;
    padding-top: 2%;
    font-family: 'Lato-Black', sans-serif;
    font-size: 2.8vw;
    color: white;
}

#title-slider2 {
    text-align: center;
    padding-top: 2%;
    font-family: 'Lato-Black', sans-serif;
    font-size: 2.5vw;
}

.image2 {
    opacity: 90%;
   
}
