<div id='content'>
    <img class="image1" src="../../../assets/images/Imagen4.png">
    <div id="description">
        <span><strong>Professional Awning Cleaning,</strong></span><br>
        <span><strong>Maintenance & Repairs.</strong></span>
    </div>

    <div id="formQuota">
        <contactForm></contactForm>
    </div>
    <hr width="100%" size="1" />
</div>
<div id='slider'>
    <div id="title-slider">
        <div id="title-slider1">
            <span><strong>What Can The Awningman Do For You?</strong></span><br>
        </div>
        <div id="title-slider2">
            <span>
                <strong>Keep The Look Of Your Awnings</strong><br>
                <strong>And</strong><br>
                <strong>Extending It's Life</strong>
            </span>
        </div>
    </div>
    <div id="div-image">
        <img class="image2" src="../../../assets/images/Imagen21a.png">

    </div>
    <div id="slider-explanation">
        <span>
                The awnings are part of the image of your property keep them clean enhance the appearance and positive image of your investment
        </span>
    </div>
    <hr width="100%" size="1" />
</div>