<meta name="viewport" content="width=device-width, initial-scale=1.0">
<header>
  <div id=headerContainer>
    <div id="logo">
      <img class="logoImage" src="../assets/images/logo4.bmp">
    </div>

    <div id="phone">
      <img class="phoneImage" src="../assets/images/phone-volume_icon-icons.com_56474.png">
      <span class="phoneNumber"><strong>(904) 859-6131</strong></span>
    </div>
    <hr width="100%" size="1" />
  </div>
</header>

<section id="content">
  <router-outlet></router-outlet>
</section>

<footer>
  <div class="main-div-footer">
    <div id="copyrigth" class="div-footer">
      <p>&copy;Raul Torres</p>
     
    </div>
    <div id="info" class="div-footer">
      <p>(904)859-6131</p>
      <p>awngmanplus@gmail.com</p>
    </div>
    <div id="dir" class="div-footer">
      <p>4329 Birmingham Rd.</p>
      <p>Jacksonville, FL 32207</p>
    </div>
  </div>
</footer>